<!DOCTYPE html>
<html lang="en">
 <head>
   <meta name="token" content="{{.Token}}">
   <meta name="pathToken" content="{{.PathToken}}">
   <meta name="commit" content="{{.Commit}}">
   <meta name="baseUrl" content="{{.LocalBaseUrl}}">
   <title>git-ratchet graphs</title>
   <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.6.11/css/aui.css" media="all">
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" media="all">
   
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   <script src="//bitbucket.org/atlassian-connect/all.js" type="text/javascript"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.js"></script>
   <script src="//{{.LocalBaseUrl}}/static/rbucket.js"></script>
 </head>
 <body style="min-height: 100vh; background-color: #fff;">
   <div id="page">
     <section id="content" role="main">
       <div class="aui-page-panel" style="margin-top:0;border:none;">
         <div class="aui-page-panel-inner">
           <section class="aui-page-panel-content">
             <span id="message" style="padding-right: 5px;">Fetching repository status...</span>
             <span id="loading" class="aui-icon aui-icon-wait"></span>
             <h3 id="title" style="margin-left: 60px; margin-top: 0px;"></h3>
             <div id="chart">
             </div>
           </section>
         </div>
       </div>
     </section>
   </div>
 </body>
</html>
